<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Posts</h1>
      <div class="text-right">
        <%= link_to 'Create a new Post', new_post_path,
         class: "btn btn-primary" %>
      </div>
      <% @posts.each do |post| %>
        <h2><%= link_to post.title, post %></h2>
        <p><%= post.content %></p>
        <p><%= link_to "edit", edit_post_path(post) %></p>
      <% end %>
    </div>
  </div>
</div>
